*{
  font-size: 14px;
}
link{
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}
.navLink{
  color: black;
  font-size: 15px;
}
.activeLink{
  text-decoration: none;
  font-weight: bold;
}
.login-form{
  margin-top: 2%;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 0px 0px 1px hsl(0, 0%, 52%);
  text-align: center;
  background-color: white;
}
.spacer{
  padding: 30px;
}
.clickable{
  cursor: pointer;
}
.title{
  margin: 0%;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}
.sub-title{
  text-align: left;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}
#side-menu{
  font-size: 16px;
  border-radius: 5px 3px 3px 3px;
  box-shadow: 0px 0px 3px hsl(0, 0%, 52%);
  background-color: white;
  height: min-content;
}
.menu-option:hover{
  background-color: rgb(235, 232, 232);
}
.cv-container{
  margin: 0%;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 0px 0px 1px hsl(0, 0%, 52%);
}
.hr{
  border: 2px solid gray;
  border-radius: 5px;
}
.mini-hr{
  width: 30%;
}
.cv-title{
  font-size: black;
  font-weight: bold;
  font-size: 20px;
}
.item{
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
